// Navigation Styles here

header {

    nav {

        li {
            list-style: none;
        } // header nav a

        a {
            font-family: @bodyFont;  
            font-size: 1.4rem;
            color: @font-color;
            text-decoration: none; 
        } // header nav a
    } // header nav
} // header